.header__logo {
    max-width: 142px;
    margin-top: 45px;
    margin-left: 0;
    margin-bottom: 41px;
}

@media screen and (max-width: 1023px){
    .header__logo {
        max-width: 104px;
        margin: 28px auto 32px 27px;
    }
  }