.header__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
}

.header__link:hover {
    opacity: .6;
  }

@media screen and (max-width: 1024px) {
    .header__link {
        padding: 2px 31px 0 0;
        line-height: 17px;
        font-size: 14px;
    }
  }