.footer {
    max-width: 880px;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    display: flex;
}

@media screen and (max-width: 580px){
    .footer {
        min-width: 282px;
    }
  }

  @media screen and (min-width: 581px) and (max-width: 879px){
    .footer {
        max-width: 581px;
    }
  }